*{
  margin: 0;
  box-sizing: border-box;
}

.dark-toggle{
  padding: 10px;
border: none;
color: pink;
font-size: 1.3rem;
background: none;
cursor: pointer;
}
.title{
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  font-size: 2rem;
  letter-spacing: 2px;
  color: blueviolet;
}
.dark-theme{
  background:#fff;
  color: rgb(50, 6, 6) ;
}
body{
  transition: all 0.5s ease;
  background: rgb(93, 42, 42);
  color:#fff;
}
.form{
  display: flex;
  padding: 1rem;
  justify-content: center;
  /* box-shadow: 2px 2px 5px pink; */
}
.form-input{
  width: 40%;
  max-width: 800px;
  border: none;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: rgb(237, 229, 231);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  padding: 5px;
  
}
input:focus-visible {
  outline: none;
  border: none;
}

.btn{
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background:blue ;
  cursor: pointer;
  color: white;
  letter-spacing: 2px;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;

}